.admin-dashboard {
    display:flex;
    width: 100%;
    height: 100%;
background-color: white;
}

/* Admin Sidebar */
.admin-sidebar {
    flex: 2;
    border-right: 1px solid var(--white-color);
    padding: 20px;
    height: 100%;
    transition: width 0.3s; /* Add a transition for smooth width change */
  }

.admin-sidebar-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 30px;
    display: block;
}

.admin-sidebar-title i {
    margin-right: 5px;
    color: var(--green-color);
}

.admin-dashboard-list {
    padding: 5px;
}

.admin-sidebar-link {
    color: var(--secondary-color);
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
    display: block;
}

.admin-sidebar-link i {
    margin-right: 5px;
    font-size: 24px;
}


/* Admin Main */
.admin-main {
    flex: 10;
    padding: 10px;
}





.admin-card-count {
    color: var(--red-color);
    font-size: 24px;
    font-weight: 600;
    margin: 5px 0;
}

.admin-card-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-card-link {
    font-size: 17px;
    background-color: var(--green-color);
    padding: 5px;
    border-radius: 10px;
    font-weight: 500;
    color: var(--white-color);
}
.admin-card-purchases{
    background-color: var(--green-color);
    color: black;

}
.admin-options{
    position: center;
        padding: 20px;
        margin: 10px 0;



        
        


}
.admin-create-order-link {
    font-size: 20px;
    background-color: var(--green-sea-color);
    padding: 20px;
    border-radius: 20px;
    font-weight: 500;
    color: var(--white-color);
}
.admin-create-sellingorder-link{
    font-size: 20px;
    background-color: var(--green-sea-color);
    padding: 20px;
    margin: 10px 0;

    border-radius: 20px;
    font-weight: 500;
    color: var(--white-color);
}

.admin-card-icon {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: var(--white-color);
}
.admin-create-order{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: var(--red-color);

}

